* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body {
    font-family: 'Open Sans', sans-serif;

}
/* Header */
header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height:100px;

}
ul {
    display:flex;
    list-style-type: none;
    align-items:center;
    
}
ul li a {
    padding: 0 20px;
    margin-left:25px;
    margin-right:10px;
    text-decoration:none;
    color: black;
}
ul li a:hover {
    color: grey;
}
.signup-btn {
   padding: 10px 20px;
   background: #c4c4f7;
   border: none;
   outline: none;
   border-radius: 50px;
   color: white;
   font-weight: 700;
   text-transform: uppercase;
   margin-left: 25px;
   transition: 0.5s;
}


main {
    display: flex;
    height:calc(100vh - 100px);
    justify-content: center;
    align-items: center;
}
.content-left {
    width: 30%;
}
main h1 {
    color:#133b4f;
    text-transform: uppercase;
    margin-left: 25px;
    font-size: 54px;
    margin-right: 500px;
}
main h2{
    font-size: 28px;
    margin-left: 25px;
    color: #fca70c;
    text-transform: uppercase;
    letter-spacing: 8px;
    font-weight: 700;
}
main p {
    font-size: 14px;
    font-weight: 400;
    margin-left: 25px;
    margin-top: 30px;
    color: #333;
    line-height: 31.5px;
    margin-bottom: 30px;
    margin-right: 0;
}
.cta {
    padding: 15px 30px;
    color: white;
    background-color: #c4c4f7;
    border-radius: 50px;
    font-weight: 700;
    text-transform: uppercase;
    outline: none;
    border: none;
    margin-left: 25px;
    transition: 0.5s;

}
.hero-img {
    width: 60&;
    height: auto;
    margin-right:0;
}
.cta:hover {
    padding: 20px 35px;
    cursor: pointer;
    transition:0.5s;
}
.signup-btn:hover {
    padding: 15px 30px;
    cursor: pointer;
    transition:0.5s;
    color:white;
    font-weight: 900;
}